.body-container {
    padding: 6% 1%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    height: 100vh;
  }
  
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .intro .heading {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  
  .intro .heading .compname {
    justify-items: center;
    text-align: center;
    font-size: 5rem;
    padding-bottom: 0.5%;
    padding-top: 5%;
  }
  
  .intro h2 {
    font-size: 3rem;
    width: 50rem;
    padding: 3%;
  }
  
  .intro .heading p {
    font-size: 1.2rem;
    padding: 2%;
    width: 60%;
    text-align: center;
    margin: 1% auto;
  }
  
  .image-container {
    display: flex;
    justify-content: space-between;
  }
  
  .image-container .pic {
    border: 1%;
    padding: 3%;
  }
  
  .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/satbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  .custom-button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    --border-right: 6px;
    --text-stroke-color: rgba(201, 187, 187, 0.6);
    --animation-color: darkblue;
    padding: 1px;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  
  .custom-button .button-text {
    color: inherit;
    -webkit-text-stroke: inherit;
  }
  
  .custom-button .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  
  .custom-button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
  }